@model ExpatMig.Models.PointsCalculatorModel

@{
    ViewBag.Title = "PRCalculator";
}



 

@using (Html.BeginForm())
{
    <div class="image-container set-full-height" id="bgClass" >
        <!--   Big container   -->
        <div class="def-height Glass-bg">
            <div class="container">

                <!--      Wizard container        -->
                <div class="wizard-container">

                    <div class="card wizard-card ct-wizard-orange" id="wizardProfile">
                        <div class="wizard-header">
                            <h3>
                                <b>Online Points Test for Skilled Migration</b>  <br>
                                <small>
                                    The general skilled migration self-assessment test is a useful way to calculate your likely score in the Skilled Migration Points test.
                                    This page requires your browser to be running javascript to work.
                                </small>
                            </h3>
                        </div>

                        <div class="navbar">
                            <div class="navbar-inner">
                                <ul class="nav nav-pills">
                                    <li><a href="#step1" data-toggle="tab">Visa</a></li>
                                    <li><a href="#step2" data-toggle="tab">Age</a></li>
                                    <li><a href="#step3" data-toggle="tab">English</a></li>
                                    <li><a href="#step4" data-toggle="tab">Oz Ed</a></li>

                                    <li><a href="#step5" data-toggle="tab">Qualification</a></li>
                                    <li><a href="#step6" data-toggle="tab">Overseas</a></li>
                                    <li><a href="#step7" data-toggle="tab">OZ Work</a></li>
                                    <li><a href="#step8" data-toggle="tab">Partner</a></li>
                                    <li><a href="#step9" data-toggle="tab">Translator</a></li>
                                </ul>
                                </div>
                            </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="step1">
                                        <div class="row">
                                            <div class="wizard-step">
                                                <div class="formStyle">

                                                    <b>Visa Subclass</b> <br />
                                                    <h4 class="info-text">
                                                        Which of the following subclasses are you applying for?
                                                    </h4>

                                                    @Html.RadioButton("visaID", "0") <label>
                                                        Skilled Independent Subclass 189
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("visaID", "1") <label>
                                                        Skilled Nominated Subclass 190
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("visaID", "2") <label>Skilled Regional (Provisional) Subclass 489</label>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step2">
                                        <div class="row">
                                            <div class="wizard-step">


                                                <div class="formStyle">
                                                    <b>Age</b> <br />
                                                    <h4 class="info-text">
                                                        Which age band do you fit into?
                                                    </h4>
                                                    @Html.RadioButton("ageID", "0") Less than 18
                                                    <br>
                                                    @Html.RadioButton("ageID", "1") 18 - 24
                                                    <br>
                                                    @Html.RadioButton("ageID", "2") 25 - 32
                                                    <br />
                                                    @Html.RadioButton("ageID", "3") 33 - 39
                                                    <br />
                                                    @Html.RadioButton("ageID", "4") 40 - 44
                                                    <br />
                                                    @Html.RadioButton("ageID", "5") 45 - 49
                                                    <br />
                                                    @Html.RadioButton("ageID", "6") 50 Or More than 50
                                                    <br />
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="tab-pane" id="step3">
                                        <div class="row">
                                            <div class="wizard-step">

                                                <div class="formStyle">

                                                    <b>English Language Ability</b> <br />
                                                    <h4 class="info-text">
                                                        How would you rate your English language ability?
                                                    </h4>
                                                    @Html.RadioButton("engID", "0") <label>
                                                        Competent
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("engID", "1") <label>
                                                        Proficient
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("engID", "2") <label>Superior</label>


                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                    <div class="tab-pane" id="step4">
                                        <div class="row">
                                            <div class="wizard-step">
                                                <div class="formStyle">

                                                    <b>Australian Educational Qualification</b> <br />
                                                    <h4 class="info-text"></h4>

                                                    @Html.RadioButtonFor(p => p.australianEdu, true, true) <label>
                                                        Yes
                                                    </label>
                                                    <br>
                                                    @Html.RadioButtonFor(p => p.australianEdu, false, false) <label>
                                                        No
                                                    </label>

                                                    <div id="ProfessionalYear">
                                                        <div class="row">
                                                            <div class="wizard-step">
                                                                <div class="formStyle">

                                                                    <b>Professional</b> <br />

                                                                    @Html.RadioButton("profID", "0") <label>
                                                                        Yes
                                                                    </label>
                                                                    <br>
                                                                    @Html.RadioButton("profID", "1") <label>
                                                                        No
                                                                    </label>
                                                                    <br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="wizard-step">
                                                                <div class="formStyle">

                                                                    <b>Study in Regional Australia or a Low Population Growth Area</b> <br />

                                                                    @Html.RadioButton("LowGrowth", "0") <label>
                                                                        Yes
                                                                    </label>
                                                                    <br>
                                                                    @Html.RadioButton("LowGrowth", "1") <label>
                                                                        No
                                                                    </label>
                                                                    <br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <br>



                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane" id="step5">
                                        <div class="row">
                                            <div class="wizard-step">
                                                <div class="formStyle">

                                                    <b>Qualification</b> <br />
                                                    <h4 class="info-text">
                                                        What is your highest Qualification?
                                                    </h4>
                                                    @Html.RadioButton("qualiID", "0") <label>
                                                        Phd
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("qualiID", "1") <label>
                                                        Degree
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("qualiID", "2") <label>
                                                        Trade
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("qualiID", "3") <label>
                                                        None
                                                    </label>
                                                    <br>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step6">
                                        <div class="row">
                                            <div class="wizard-step">
                                                <div class="formStyle">

                                                    <b>Overseas Work Experience</b> <br />

                                                    @Html.RadioButton("oexpID", "0") <label>
                                                        8 Years
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("oexpID", "1") <label>
                                                        5 Years
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("oexpID", "2") <label>
                                                        3 Years
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("oexpID", "3") <label>
                                                        None
                                                    </label>
                                                    <br>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step7">
                                        <div class="row">
                                            <div class="wizard-step">
                                                <div class="formStyle">

                                                    <b>Australian Work Experience</b> <br />

                                                    @Html.RadioButton("ozexpID", "0") <label>
                                                        8 Years
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("ozexpID", "1") <label>
                                                        5 Years
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("ozexpID", "2") <label>
                                                        3 Years
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("ozexpID", "3") <label>
                                                        1 Year
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("ozexpID", "4") <label>
                                                        None
                                                    </label>
                                                    <br>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step8">
                                        <div class="row">
                                            <div class="wizard-step">
                                                <div class="formStyle">

                                                    <b>Partner Skill Qualifications</b> <br />
                                                    <h4 class="info-text">
                                                        Check any boxes which apply to your partner or spouse
                                                    </h4>
                                                    @Html.CheckBoxFor(p => p.partnerLessthan50) <label>
                                                        50 years of Age
                                                    </label>
                                                    <br>
                                                    @Html.CheckBoxFor(p => p.partnerEngProf) <label>
                                                        English proficient
                                                    </label>
                                                    <br>
                                                    @Html.CheckBoxFor(p => p.partnerSkilled) <label>Skills in ACS</label>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step9">
                                        <div class="row">
                                            <div class="wizard-step wizard-confirmation">
                                                <div class="formStyle">

                                                    <b>Designated Language</b> <br />
                                                    <h4 class="info-text">
                                                        Do any of the following apply to you?
                                                    </h4>
                                                    @Html.RadioButton("translatorID", "0") <label>
                                                        Yes
                                                    </label>
                                                    <br>
                                                    @Html.RadioButton("translatorID", "1") <label>
                                                        No
                                                    </label>
                                                    <br>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="wizard-nav">
                                        <div class="pull-left">
                                            <input type="button" id="wizard-prev" class='btn btn-previous btn-fill btn-default btn-wd btn-sm' value="Previous" name='previous' />
                                        </div>
                                        <div class="wizard-footer">

                                            <div class="pull-right">
                                                <input type="button" id="wizard-next" name='next' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' value="Next" />
                                                <input type="submit" id="wizard-submit" class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' value="Score Calculate" name="PRCalculator" />
                                            </div>
                                            <div class="clearfix"></div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
        </div>
        </div>
        }
 
     
     
  
      
@section PageSpecificStyles
{
   
<link href="~/Content/gsdk-base.css" rel="stylesheet" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
        <!--   plugins 	 -->
<script src="~/Scripts/PointsCalculator/jquery.bootstrap.wizard.js" type="text/javascript"></script>


<!--  methods for manipulating the wizard and the validation -->
<script src="~/Scripts/PointsCalculator/wizard.js"></script>

}

@section AdditionalJS
{

}










