<!DOCTYPE html>
<html ng-app="xMigApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="@Url.Content("~/Scripts/Chat/PushManifest.json")" rel="manifest" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" />

    <link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css" />

    @Styles.Render("~/Content/css")

    @RenderSection("AdditionalJS", required: false)
    @RenderSection("PageSpecificStyles", required: false)

  
    @Scripts.Render("~/bundles/modernizr")

    <script src="//cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js"></script>
    @*----------PR Calculator-------------------*@


     

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Expat Migration", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Calculator", "PRCalculator", "PointsCalculator")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content ContentLayer">
        @RenderBody()
       
    </div>
    <footer class="text-right">
        <p class="text-white">&copy; @DateTime.Now.Year - Expat Migration</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/global")
    @RenderSection("scripts", required: false)
</body>
</html>
